body {
    background-color: rgba(255, 215, 0, 0.5);
    font-size: 18px;
    text-align: justify;
    color: rgb(128, 128, 0);
}

blockquote {
    font-size: 20px;
    color: rgb(255, 99, 71);
    font-weight: bold;
}

h1,
h2,
h3 {
    text-align: center;
    color: rgb(255, 99, 71);
}
